<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <%= form_for(micropost) do |f| %>
      
        <div class="form-group">
          <%= f.label :title, class:"control-label col-xs-2" %>
          <div class="col-xs-10">
            <%= f.text_field :title, class:"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :content, class:"control-label" %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          
          <%= f.label :image, class:"col-xs-2" %>
          <div class="col-xs-10">
            <%= f.file_field :image, class: "form-control" %>
          </div>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    
  </div>
  
  
</div>